<div class="card bg-dark">
    <div class="card-body text-bg-dark">
        <div>
            <h4 class="card-title text-center">Pie de Pagina (Footer)</h4>
        </div>
        <div class="row">
            <div class="col-md-7 text-center">
                <h5 class="card-title">Trabajo Practico N°4 "Practica de angular"</h5>
                <p class="card-text">Hola, este es el pie de pagina de mi proyecto angular</p>
            </div>
            <div class="col-md-5">
                <p class="card-text"><small class="text-body-dark">Martin Alejandro Bonari</small></p>
                <p class="card-text"><small class="text-body-dark">Programacion y Servicion Web</small></p>
                <p class="card-text"><small class="text-body-dark">A N G U L A R ! ! !</small></p> 
            </div>
        </div>
    </div>
<img src="..." class="card-img-bottom" alt="imagen">
</div>